workflow/plan-alignment-checker.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plan-check",
        "responseMode": "lastNode",
        "options": {
          "responseContentType": "text/markdown; charset=utf-8"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -16,
        -288
      ],
      "id": "86c0383a-4033-4978-aa7b-9386969998cc",
      "name": "Webhook",
      "webhookId": "plan-check"
    },
    {
      "parameters": {
        "jsCode": "// Parse input and build the MCP write_file payload\nconst body = $input.first().json.body;\nconst planText = body?.plan || (typeof body === 'string' ? body : JSON.stringify(body));\nconst filename = body?.filename || 'unnamed-plan';\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').slice(0, 19);\n\n// Build MCP JSON-RPC payload for write_file\nconst mcpPayload = {\n  jsonrpc: \"2.0\",\n  id: 1,\n  method: \"tools/call\",\n  params: {\n    name: \"write_file\",\n    arguments: {\n      path: \"/host/opt/stacks/YOUR_PROJECT/.tmp-plan-check.md\",\n      content: planText\n    }\n  }\n};\n\nreturn [{ json: { mcpPayload, planText, filename, timestamp } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -288
      ],
      "id": "b7b7fa18-e167-4e49-bcbb-b43bf49b0353",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_MCP_SERVER/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "CF-Access-Client-Id",
              "value": "YOUR_CF_ACCESS_CLIENT_ID"
            },
            {
              "name": "CF-Access-Client-Secret",
              "value": "YOUR_CF_ACCESS_CLIENT_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.mcpPayload) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -288
      ],
      "id": "7fcca1c1-c2e1-40f5-a329-14e6433e7a76",
      "name": "Write Plan to Server"
    },
    {
      "parameters": {
        "jsCode": "// Call MCP via supergateway Docker network - keep SSE stream open for result\nconst http = require('http');\n\nfunction postMsg(sessionId, body) {\n  return new Promise((resolve, reject) => {\n    const req = http.request({\n      hostname: 'supergateway-filesystem', port: 8000,\n      path: `/message?sessionId=${sessionId}`,\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' }\n    }, (res) => {\n      let data = '';\n      res.on('data', c => data += c);\n      res.on('end', () => resolve(data));\n    });\n    req.on('error', reject);\n    req.setTimeout(10000, () => { req.destroy(); });\n    if (body) req.write(typeof body === 'string' ? body : JSON.stringify(body));\n    req.end();\n  });\n}\n\n// Open persistent SSE connection and collect ALL events\nconst sseData = await new Promise((resolve, reject) => {\n  let collected = '';\n  let sessionId = null;\n  let commandSent = false;\n  let resultReceived = false;\n\n  const req = http.request({\n    hostname: 'supergateway-filesystem', port: 8000,\n    path: '/sse', method: 'GET',\n    headers: { 'Accept': 'text/event-stream' }\n  }, (res) => {\n    // Set a generous overall timeout\n    const overallTimer = setTimeout(() => {\n      req.destroy();\n      resolve({ collected, sessionId, timedOut: true });\n    }, 175000);\n\n    res.on('data', async (chunk) => {\n      collected += chunk.toString();\n\n      // Step 1: Extract sessionId from the endpoint event\n      if (!sessionId) {\n        const match = collected.match(/sessionId=([a-f0-9-]+)/);\n        if (match) {\n          sessionId = match[1];\n\n          // Step 2: Initialize MCP session\n          try {\n            await postMsg(sessionId, {\n              jsonrpc: '2.0', id: 0, method: 'initialize',\n              params: { protocolVersion: '2025-11-25', capabilities: {},\n                clientInfo: { name: 'n8n', version: '1.0' } }\n            });\n            await new Promise(r => setTimeout(r, 500));\n            await postMsg(sessionId, { jsonrpc: '2.0', method: 'notifications/initialized' });\n            await new Promise(r => setTimeout(r, 300));\n          } catch (e) { /* init errors are ok */ }\n        }\n      }\n\n      // Step 3: After init response arrives, send the Claude Code command\n      if (sessionId && !commandSent && collected.includes('\"id\":0') && collected.includes('\"result\"')) {\n        commandSent = true;\n\n        // -----------------------------------------------------------------------\n        // CUSTOMIZE THIS PROMPT to match your project's architecture.\n        // The example below checks a TypeScript/Drizzle/Better Auth/Expo stack.\n        // Adapt the file paths, frameworks, and validation rules for your project.\n        // -----------------------------------------------------------------------\n        const prompt = 'Read .tmp-plan-check.md \u2014 a development plan to validate against this codebase.\\n\\nPHASE 1 \u2014 SCHEMA & DATA\\n1. Read [YOUR_SCHEMA_FILE] \u2014 for every table/model/collection the plan mentions: confirm it exists, check all referenced columns/fields exist, flag any that are missing as needing a new migration or schema change.\\n2. If the plan adds new tables/models, check [YOUR_MIGRATIONS_DIR] for the highest existing migration number and note what the next one should be named.\\n\\nPHASE 2 \u2014 API & ROUTING\\n3. Grep [YOUR_ROUTES_DIR] for existing endpoint definitions. For every API route the plan mentions: confirm it exists. Flag missing routes as NEW \u2014 list the handler file it should go in.\\n4. Check [YOUR_MIDDLEWARE_FILE] \u2014 confirm the plan respects any auth middleware, rate limiting, or request validation already wired up. Flag anything the plan bypasses as PROTECTED.\\n\\nPHASE 3 \u2014 BUSINESS LOGIC INVARIANTS\\n5. Read [YOUR_CORE_LOGIC_FILE] \u2014 identify any hard-coded rules, hooks, or constraints (e.g. auto-populated fields, role restrictions, computed values). If the plan writes to or reads these fields directly, flag as BLOCKED BY DESIGN and explain what the correct approach is.\\n6. Check [YOUR_CONFIG_FILE] \u2014 record key configuration values (feature flags, limits, defaults). Verify the plan does not assume different values than what is configured.\\n\\nPHASE 4 \u2014 DEPENDENCIES & PLACEMENT\\n7. Verify every new file the plan creates goes in the correct directory per the existing project structure.\\n8. If the plan adds new packages, grep package.json (or requirements.txt / go.mod / Gemfile) to check they are not already installed. Note any that require a build step or native compilation.\\n\\nPHASE 5 \u2014 CROSS-CUTTING CONCERNS\\n9. Check [YOUR_ENV_EXAMPLE_FILE] \u2014 does the plan require new environment variables that are not already declared? List them.\\n10. Scan for any plan steps that touch shared infrastructure (queues, caches, storage buckets, cron jobs) \u2014 flag these as INFRASTRUCTURE CHANGE: describe what needs to be provisioned.\\n\\nOUTPUT \u2014 use exactly these markdown section headers:\\n## Aligned\\n## Warnings\\n## Misaligned\\n(table: Issue | Plan Says | Reality | Fix)\\n## Missing from Plan\\n## New Infrastructure\\n## Environment Variables Needed\\nBe precise. Use checkmark for aligned, warning for warnings, X for misaligned.';\n\n        const cmd = `su - YOUR_USER -c 'CLAUDE_BIN=$(ls -d /home/YOUR_USER/.vscode-server/extensions/anthropic.claude-code-*-linux-x64/resources/native-binary/claude 2>/dev/null | sort -V | tail -1) && cd /opt/stacks/YOUR_PROJECT && $CLAUDE_BIN --print \"${prompt}\" --model sonnet --output-format text --max-turns 15 --allowed-tools \"Read Bash(grep:*) Bash(cat:[YOUR_CONFIG_FILE]) Bash(ls:src/**)\" 2>&1'`;\n\n        try {\n          await postMsg(sessionId, {\n            jsonrpc: '2.0', id: 2,\n            method: 'tools/call',\n            params: { name: 'execute_command', arguments: { command: cmd, timeout: 180000 } }\n          });\n        } catch (e) { /* send errors ok - response comes on SSE */ }\n      }\n\n      // Step 4: Check if we got the Claude Code result (id: 2)\n      if (commandSent && !resultReceived && collected.includes('\"id\":2') && collected.includes('\"result\"')) {\n        const lastDataIdx = collected.lastIndexOf('data: {');\n        if (lastDataIdx > -1) {\n          const remainder = collected.substring(lastDataIdx);\n          if (remainder.includes('\"stdout\"') || remainder.includes('\"isError\"')) {\n            resultReceived = true;\n            clearTimeout(overallTimer);\n            req.destroy();\n            resolve({ collected, sessionId, timedOut: false });\n          }\n        }\n      }\n    });\n\n    res.on('end', () => {\n      clearTimeout(overallTimer);\n      resolve({ collected, sessionId, timedOut: false });\n    });\n  });\n\n  req.on('error', (e) => {\n    if (e.code !== 'ECONNRESET') reject(e);\n  });\n  req.end();\n});\n\n// Parse out the result from the collected SSE data\nlet resultJson = '';\nconst lines = sseData.collected.split('\\n');\nfor (let i = lines.length - 1; i >= 0; i--) {\n  if (lines[i].startsWith('data: {') && lines[i].includes('\"id\":2')) {\n    resultJson = lines[i].substring(6);\n    break;\n  }\n}\n\nreturn [{ json: {\n  result: resultJson || sseData.collected,\n  sessionId: sseData.sessionId,\n  timedOut: sseData.timedOut\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -288
      ],
      "id": "46b43023-003b-4272-8817-5002db2b22ac",
      "name": "Run Claude Code"
    },
    {
      "parameters": {
        "jsCode": "// Parse response from Run Claude Code node\nconst raw = $('Run Claude Code').first().json;\nlet analysis = '';\n\ntry {\n  let resultData = raw.result || raw;\n  if (typeof resultData === 'string') {\n    try { resultData = JSON.parse(resultData); } catch {}\n  }\n  if (resultData?.result?.content?.[0]?.text) {\n    const execOutput = resultData.result.content[0].text;\n    try {\n      const parsed = JSON.parse(execOutput);\n      analysis = parsed.stdout || parsed.text || execOutput;\n    } catch { analysis = execOutput; }\n  } else if (resultData?.error) {\n    analysis = `Error: ${JSON.stringify(resultData.error)}`;\n  } else if (typeof resultData === 'string') {\n    const stdoutMatch = resultData.match(/\"stdout\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n    if (stdoutMatch) analysis = JSON.parse('\"' + stdoutMatch[1] + '\"');\n    else analysis = resultData;\n  } else {\n    analysis = JSON.stringify(resultData, null, 2);\n  }\n} catch (e) {\n  analysis = 'Error parsing: ' + e.message;\n}\n\nconst meta = $('Parse Input').first().json;\nconst now = new Date().toLocaleString('en-US', { timeZone: 'Your/Timezone' });\n\nreturn [{ json: { report: `# Plan Alignment Report\n\n**Plan:** ${meta.filename}  \n**Checked:** ${now}  \n**Engine:** Claude Code (Max) \u2192 Sonnet  \n**Project:** /opt/stacks/YOUR_PROJECT\n\n---\n\n${analysis}\n\n---\n\n*Generated by n8n Plan Alignment Workflow v1.0*\n` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -288
      ],
      "id": "44c44250-646d-4271-a22a-3f52b4edd3c1",
      "name": "Format Report"
    },
    {
      "parameters": {
        "jsCode": "// Build Gotify notification from raw Claude Code output\nconst raw = $input.first().json;\nconst meta = $('Parse Input').first().json;\n\n// Parse the Claude Code result\nlet analysis = '';\ntry {\n  let resultData = raw.result || raw;\n  if (typeof resultData === 'string') {\n    try { resultData = JSON.parse(resultData); } catch {}\n  }\n  if (resultData?.result?.content?.[0]?.text) {\n    const execOutput = resultData.result.content[0].text;\n    try {\n      const parsed = JSON.parse(execOutput);\n      analysis = parsed.stdout || parsed.text || execOutput;\n    } catch { analysis = execOutput; }\n  } else if (typeof resultData === 'string') {\n    const stdoutMatch = resultData.match(/\"stdout\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n    if (stdoutMatch) analysis = JSON.parse('\"' + stdoutMatch[1] + '\"');\n    else analysis = resultData;\n  } else {\n    analysis = JSON.stringify(resultData, null, 2);\n  }\n} catch (e) { analysis = 'Parse error: ' + e.message; }\n\n// Count issues by scanning the analysis text\nconst countMatches = (pattern) => (analysis.match(pattern) || []).length;\nconst hasCritical = /CRITICAL|BLOCKED BY DESIGN|MOBILE_INTERFERENCE/i.test(analysis);\nconst misalignedCount = countMatches(/\u274c|Misaligned|Does not exist|BLOCKED/gi);\nconst warningCount = countMatches(/\u26a0\ufe0f|Warning|already exists|duplicate|conflict/gi);\n\n// Determine severity\nlet severity, priority, emoji;\nif (hasCritical || misalignedCount > 3) {\n  severity = 'CRITICAL'; priority = 8; emoji = '\ud83d\udea8';\n} else if (misalignedCount > 0) {\n  severity = 'Issues Found'; priority = 5; emoji = '\u26a0\ufe0f';\n} else if (warningCount > 0) {\n  severity = 'Warnings Only'; priority = 3; emoji = '\ud83d\udccb';\n} else {\n  severity = 'All Clear'; priority = 1; emoji = '\u2705';\n}\n\n// Extract key misaligned items\nconst issueLines = analysis.split('\\n')\n  .filter(l => /^\\| \\*\\*/.test(l.trim()) || /^- \u274c/.test(l.trim()) || /Does not exist/.test(l) || /BLOCKED/.test(l))\n  .map(l => l.replace(/^\\|?\\s*\\*?\\*?/, '').replace(/\\*?\\*?\\s*\\|.*$/, '').trim())\n  .filter(l => l.length > 10 && l.length < 200)\n  .slice(0, 5);\n\nconst title = `${emoji} Plan Check: ${meta.filename}`;\nconst now = new Date().toLocaleString('en-US', { timeZone: 'Your/Timezone' });\n\nlet message = `## ${severity}\\n\\n`;\nmessage += `**Plan:** \\`${meta.filename}\\`\\n`;\nmessage += `**Checked:** ${now}\\n\\n`;\n\nif (issueLines.length > 0) {\n  message += `### Key Findings\\n\\n`;\n  issueLines.forEach(item => {\n    message += `- ${item}\\n`;\n  });\n  message += '\\n';\n}\n\nif (hasCritical) {\n  const mobileConflict = /MOBILE_INTERFERENCE/i.test(analysis);\n  const authConflict = /CRITICAL|BLOCKED BY DESIGN/i.test(analysis);\n  if (authConflict) message += `\\n\ud83d\udd34 **Auth/Design Conflict** \u2014 Plan conflicts with protected hooks or fields\\n`;\n  if (mobileConflict) message += `\\n\ud83d\udcf1 **Mobile Config Conflict** \u2014 Plan interferes with Expo/React Native config\\n`;\n}\n\nmessage += `\\n---\\n_Full report returned in webhook response_`;\n\nreturn [{ json: { title, message, priority } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -288
      ],
      "id": "1b07954f-d805-4c7c-8ad2-aa5f88bb90f3",
      "name": "Build Gotify Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_GOTIFY_SERVER/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Gotify-Key",
              "value": "YOUR_GOTIFY_APP_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "CF-Access-Client-Id",
              "value": "YOUR_CF_ACCESS_CLIENT_ID"
            },
            {
              "name": "CF-Access-Client-Secret",
              "value": "YOUR_CF_ACCESS_CLIENT_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, message: $json.message, priority: $json.priority, extras: { \"client::display\": { contentType: \"text/markdown\" } } }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        -288
      ],
      "id": "e87d280a-3acf-47ef-a1a8-da8457e34227",
      "name": "Send Gotify"
    },
    {
      "parameters": {
        "content": "## Setup Checklist\n\nBefore activating, replace every `YOUR_*` placeholder:\n\n- `YOUR_MCP_SERVER` \u2014 URL of your MCP filesystem server\n- `YOUR_CF_ACCESS_CLIENT_ID` / `YOUR_CF_ACCESS_CLIENT_SECRET` \u2014 Cloudflare Access tokens (remove headers if not using CF)\n- `YOUR_PROJECT` \u2014 your project directory name under `/opt/stacks/`\n- `YOUR_USER` \u2014 Linux user that owns the project and has Claude Code authenticated\n- `YOUR_GOTIFY_SERVER` / `YOUR_GOTIFY_APP_TOKEN` \u2014 Gotify instance (or remove Gotify nodes entirely)\n- `Your/Timezone` \u2014 IANA timezone, e.g. `America/New_York`\n\n\ud83d\udcd6 Full setup guide: [README](https://github.com/Jnelsonwis/n8n-claude-plan-alignment)",
        "height": 300,
        "width": 460,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -640
      ],
      "id": "sticky-setup",
      "name": "Setup Checklist"
    },
    {
      "parameters": {
        "content": "## Customize This Prompt\n\nThe `prompt` variable inside this node is the heart of the workflow. The default uses a generic 5-phase template:\n\n1. **Schema & Data** \u2014 check DB tables/columns exist\n2. **API & Routing** \u2014 verify endpoints are defined\n3. **Business Logic Invariants** \u2014 flag BLOCKED BY DESIGN / PROTECTED\n4. **Dependencies & Placement** \u2014 check file dirs and packages\n5. **Cross-Cutting** \u2014 env vars, infrastructure changes\n\nReplace `[YOUR_SCHEMA_FILE]`, `[YOUR_ROUTES_DIR]`, etc. with your actual paths.\n\n\ud83d\udcd6 Stack examples (TypeScript, Django, Rails, Go, Next.js):\n`examples/run-claude-prompt-node-example.md`",
        "height": 290,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        -640
      ],
      "id": "sticky-prompt",
      "name": "Customize the Prompt"
    },
    {
      "parameters": {
        "content": "## Gotify is Optional\n\nThese two nodes send a severity-graded push notification:\n\n- \u2705 All Clear (priority 1)\n- \ud83d\udccb Warnings Only (priority 3)\n- \u26a0\ufe0f Issues Found (priority 5)\n- \ud83d\udea8 CRITICAL (priority 8)\n\n**To remove notifications:**\n1. Delete **Build Gotify Message** and **Send Gotify**\n2. Connect **Run Claude Code** \u2192 **Format Report** directly\n\nThe webhook response still returns the full report.",
        "height": 250,
        "width": 360,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        -580
      ],
      "id": "sticky-gotify",
      "name": "Gotify is Optional"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Write Plan to Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Plan to Server": {
      "main": [
        [
          {
            "node": "Run Claude Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Claude Code": {
      "main": [
        [
          {
            "node": "Build Gotify Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gotify Message": {
      "main": [
        [
          {
            "node": "Send Gotify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gotify": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "settings": {
    "executionOrder": "v1"
  }
}